body {
  background-color: #ff0095;
  color: rgb(255, 255, 255);
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

img {
  height: 300px;
  width: auto;
}

h1 {
  font-size: 150;
  font-family: 'Cinzel', serif;
}

h3 {
  font-size: large;
  font-family: 'Cinzel', serif ;
}

label {
  font-size: small;
}

input {
  color: black;
}