body {
  background-color: #ff0095;
  color: rgb(255, 255, 255);
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

img {
  height: 300px;
  width: auto;
}

h1 {
  font-size: x-large;
  font-family: 'Cinzel', serif;
}

